img {
  width: 100px;
  height: 100px;
}

.pokeball {
  height: 50px;
  width: 50px;
}
.price {
  text-align: center;
  font-size: 1.25rem;
}

.ProductCard {
  border: 2px solid black;
}
.fav {
  background-color: red;
}

.notFav {
  background-color: blue;
}